@import "tools.pill";

// Pills

.ds-pill {
    border: 1px solid $color-corporate-green;
    border-radius: $unit * 4;
    display: inline-block;
    padding: 3px $unit; // 32px height = 24px line-height + 6px padding + 2px border
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover,
    &:focus {
        border-color: $color-corporate-green-dark;
    }

    .ds-tags & {
        background: $color-corporate-green;
        color: $color-white;

        &:hover,
        &:focus {
            background: $color-corporate-green-dark;
        }
    }

    .ds-filter & {
        background: $color-white;
        color: $color-black;

        &:hover,
        &:focus {
            background: $color-corporate-green-dark;
            color: $color-white;
        }
    }
}

/*
.ds-pill {
    @include pill;

    // DEFAULT button: #fff text on green background
    &--tags {
        @include pill--tags;
    }

    &--active {
        @include pill--active;
    }
}

// Link resets until style leaks are fixed
a.ds-pill {
    text-decoration: none !important;

    &--tags {
        color: $color-text--corporate-green !important;

        &:active,
        &:focus,
        &:hover {
            color: #fff !important;
            background-color: $color-text--corporate-green !important;
        }
    }
}
*/
