<h3>Table of default elevation values</h3>

<table style="width:100%">
    <tr>
        <th>Component</th>
        <th>Default elevation values (px)<br/>box-shadow blur value</th>
    </tr>
    <tr>
        <td>Dialog</td>
        <td>24</td>
    </tr>
    <tr>
        <td>Modal bottom sheet<br/>Modal side sheet</td>
        <td>16</td>
    </tr>
    <tr>
        <td>Navigation drawer</td>
        <td>16</td>
    </tr>
    <tr>
        <td>Floating action button (FAB - pressed)</td>
        <td>12</td>
    </tr>
    <tr>
        <td>Standard bottom sheet<br/>Standard side sheet</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Bottom navigation bar</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Bottom app bar</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Menus and sub menus</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Card (when picked up / hover)</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Contained button (pressed state)</td>
        <td>8</td>
    </tr>
    <tr>
        <td>Floating action button (FAB - resting elevation)<br/>Snackbar</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Top app bar (scrolled state)</td>
        <td>4</td>
    </tr>
    <tr>
        <td>Top app bar (resting elevation)</td>
        <td>0—4</td>
    </tr>
    <tr>
        <td>Refresh indicator<br/>Search bar (scrolled state)</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Contained button (resting elevation)</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Search bar (resting elevation)</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Card (resting elevation)</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Switch</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Text button</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Standard side sheet</td>
        <td>0</td>
    </tr>
</table>
