/* layout-utilities
----------------------------------- */

@mixin ds-float-left {
    float: left;
}

.ds-float-left {
    float: left;
}

@mixin clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}
