<h4>Viewports nach material design</h4>
<table>
    <thead>
        <tr>
            <th>Range</th>
            <th>Portrait</th>
            <th>Landcape</th>
            <th>Window</th>
            <th>Columns</th>
            <th>Gutter</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0—359</td>
            <td>small handset</td>
            <td></td>
            <td>xsmall</td>
            <td>4</td>
            <td>8</td>
        </tr>
        <tr>
            <td>360—399</td>
            <td>medium handset</td>
            <td></td>
            <td>xsmall</td>
            <td>4</td>
            <td>16</td>
        </tr>
        <tr>
            <td>400—479</td>
            <td>large handset</td>
            <td></td>
            <td>xsmall</td>
            <td>4</td>
            <td>16</td>
        </tr>
        <tr>
            <td>480—599</td>
            <td>large handset</td>
            <td>small handset</td>
            <td>xsmall</td>
            <td>4</td>
            <td>16</td>
        </tr>
        <tr>
            <td>600—719</td>
            <td>small tablet</td>
            <td>medium handset</td>
            <td>small</td>
            <td>8</td>
            <td>16</td>
        </tr>
        <tr>
            <td>720—839</td>
            <td>large tablet</td>
            <td>large handset</td>
            <td>small</td>
            <td>8</td>
            <td>24</td>
        </tr>
        <tr>
            <td>840—959</td>
            <td>large tablet</td>
            <td>large handset</td>
            <td>small</td>
            <td>12</td>
            <td>24</td>
        </tr>
        <tr>
            <td>960—1023</td>
            <td></td>
            <td>small tablet</td>
            <td>medium</td>
            <td>12</td>
            <td>24</td>
        </tr>
        <tr>
            <td>1024—1279</td>
            <td></td>
            <td>large tablet</td>
            <td>medium</td>
            <td>12</td>
            <td>24</td>
        </tr>
        <tr>
            <td>1280—1439</td>
            <td></td>
            <td>large tablet</td>
            <td>medium</td>
            <td>12</td>
            <td>24</td>
        </tr>
        <tr>
            <td>1440—1599</td>
            <td></td>
            <td></td>
            <td>large</td>
            <td>12</td>
            <td>24</td>
        </tr>
        <tr>
            <td>1600—1919</td>
            <td></td>
            <td></td>
            <td>large</td>
            <td>12</td>
            <td>24</td>
        </tr>
        <tr>
            <td>1920+</td>
            <td></td>
            <td></td>
            <td>xlarge</td>
            <td>12</td>
            <td>24</td>
        </tr>
    </tbody>
</table>