@import "colors/general";
@import "colors/corporate";

$color-corporate-green:       #618f30; // primary green (used in logo/chef's hat)
$color-corporate-green-dark:  #537a29;

$color-black:                 #403b3b;
$color-white:                 #fff;
