// default unit for everything

$unit: 8px;

/* screen widths */
// exact 320px viewport
$screen-xxs: 320px;
// from 360px until 599px viewport
$screen-xs: 360px;
// from 600px until 959px viewport
$screen-s: 600px;
// from 960px viewport
$screen-m: 960px;
