<div class="ds-grid">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <h4>Button | .ds-button--info</h4>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <button class="ds-button ds-button--info" href="#">
            Buttontext
        </button>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <button class="ds-button ds-button--info" href="#">
            <i class="material-icons">star</i>
            Buttontext
        </button>
    </div>

    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <br/>
        <h4>Button | .ds-button--warning</h4>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <button class="ds-button ds-button--warning" href="#">
            Buttontext
        </button>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <button class="ds-button ds-button--warning" href="#">
            <i class="material-icons">star</i>
            Buttontext
        </button>
    </div>

    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <br/>
        <h4>Button | .ds-button--danger</h4>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <button class="ds-button ds-button--danger" href="#">
            Buttontext
        </button>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <button class="ds-button ds-button--danger" href="#">
            <i class="material-icons">star</i>
            Buttontext
        </button>
    </div>
</div>
