<div class="ds-grid">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <h4>Text Button | ds-button-text</h4>
    </div>

    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <button class="ds-button ds-button--standard" href="#">
            Standard Button
        </button>
        <button class="ds-button ds-button-text" href="#">
            Text Button
        </button>
    </div>

    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <br/>
        <h4>Inaktiver text button | ds-button-text .ds-button-deactivated</h4>
    </div>

    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <button class="ds-button ds-button--standard" href="#">
            Standard Button
        </button>

        <button class="ds-button ds-button-text ds-button-deactivated" href="#">
            Text Button deactivated
        </button>
    </div>
</div>
