@import "general";
@import "helper";

body {
    font-family: $fontfamily--base;
    font-size: em($fontsize--base); // 16px
    line-height: 1.5; // 24px
}

h1,
.ds-h1 {
    font: $font-heading-1;
}

h2,
.ds-h2 {
    font: $font-heading-2;
}

h3,
.ds-h3 {
    font: $font-heading-3;
}

h4,
.ds-h4 {
    font: $font-heading-4;
}

p {
    font: $font-text-copy;
}
