@import "../colors/colors";

/* rating stars
----------------------------------- */

.ds-rating {
    display: flex;
    margin-bottom: $unit * 1.5;

    @include media-breakpoint-from(s) {
        margin-bottom: $unit * 2;
    }

    i {
        color: $color-yellow;
        width: 21px;

        @include media-breakpoint-to(xs) {
            font-size: 20px;
            width: 18px;
        }
    }
}

.ds-rating-stars {
    display: flex;
    margin-left: -2px; // for visual alignment on the left
}

.ds-rating-count {
    margin-left: $unit;

    @include media-breakpoint-to(xs) {
        font-size: 14px;
    }
}
