/.idea
.DS_Store
node_modules/
/components/app/web
astrum-config.json
/components/app/astrum-config.json
/artifacts/
!/artifacts/.gitkeep
/config/kubernetes/environment/production/*.yml
!/config/kubernetes/environment/production/*.tmpl.yml
