@import "../colors/colors";
$ds-tabs-breakpoint: "screen and (min-width: 601px)";

.ds-tabs {
    justify-content: center;
    align-items: center;
    width: auto;
    overflow: inherit;
    margin-left: 0;
    margin-right: 0;
    display: flex;

    &__item {
        display: block;
        width: 150px;
        max-width: none;
        min-height: 121px;

        &:not(:last-child) {
            margin-right: 5px;

            @media #{$ds-tabs-breakpoint} {
                margin-right: 18px;
            }
        }
    }

    &__link {
        box-sizing: border-box;
        display: block;
        color: #403b3b;
        border-bottom: 3px solid #fff;
        text-align: center;
        background-color: #fff;
        text-decoration: none;
        min-height: 130px;
        margin: 10px 5px;
        padding: 8px 6px 0;

        @media #{$ds-tabs-breakpoint} {
            min-height: 120px;
            margin: 0;
            padding: 8px 15px;
        }

        &:hover,
        &:active,
        &:visited {
            text-decoration: none;
        }

        &:hover {
            color: #403b3b;

            @media #{$ds-tabs-breakpoint} {
                color: #618f30;
                border-color: #618f30;
            }
        }

        &--active {
            background-color: #618f30;
            color: #fff;
            position: relative;
            border-color: #618f30;

            &::after {
                border-color: rgba(97, 143, 48, 0);
                border-top-color: #618f30;
                border-style: solid;
                border-width: 12px;
                margin-left: -12px;
                top: 100%;
                left: 50%;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &:hover {
                color: #fff;
            }
        }
    }


    &__title {
        font-size: 12px;
        font-size: 0.75rem;
        line-height: 16px;
        line-height: 1rem;
        display: block;
        margin: 0 auto;
        max-width: 95px;
    }

    &__icon-container {
        display: flex;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #f6f5f2;
        margin: 0 auto 10px;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        position: absolute;
        width: 28px;
        height: auto;
    }
}
