.ds-button {
    background: transparent;
    border: 0;
    border-radius: $unit / 2;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: inherit;
    letter-spacing: 0.5px;
    line-height: $lineheight-base;
    margin-bottom: $unit * 2;
    padding: $unit ($unit * 1.5);
    text-decoration: none;
    transition: background 0.2s, border-color 0.2s, color 0.2s;

    // normalize inner #fffspace in Firefox
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    // material-icons
    i {
        font-size: 20px;
        margin-right: $unit;
    }

    &--standard {
        background-color: $color-corporate-green;
        color: $color-text-inverted;

        &:active,
        &:focus,
        &:hover {
            background-color: $color-corporate-green-dark;
        }
    }

    &--light {
        border: 1px solid $color-corporate-green;
        color: $color-corporate-green-dark;
        font-weight: $fontweight-bold;
        padding: ($unit - 1) ($unit * 1.5); // $unit - 1 b/c 1px border

        &:active,
        &:focus,
        &:hover {
            color: $color-text-inverted;
            background-color: $color-corporate-green-dark;
        }
    }

    &--info {
        background-color: $color-blue;
        color: $color-text-inverted;

        &:active,
        &:focus,
        &:hover {
            background-color: $color-blue-dark;
        }
    }

    &--warning {
        background-color: $color-yellow;
        color: $color-text-inverted;

        &:active,
        &:focus,
        &:hover {
            background-color: $color-yellow-dark;
        }
    }

    &--danger {
        background-color: $color-red;
        color: $color-text-inverted;

        &:active,
        &:focus,
        &:hover {
            background-color: $color-red-dark;
        }
    }

    &--bigboss {
        padding: ($unit * 2) ($unit * 3);
    }
}

.ds-button-wide {
    justify-content: center;
    width: 100%;
    max-width: 280px;
}

.ds-button-text {
    font-weight: $fontweight-bold;

    &:active,
    &:focus,
    &:hover {
        color: $color-corporate-green-dark;
    }
}

.ds-button-deactivated {
    background-color: $color-grey-dark;

    &:active,
    &:focus,
    &:hover {
        background-color: $color-grey-dark;
    }
}

.ds-button--light.ds-button-deactivated {
    background-color: $color-white;
    border-color: $color-grey-dark;
    color: $color-grey-dark;

    &:active,
    &:focus,
    &:hover {
        background-color: $color-white;
        border-color: $color-grey-dark;
        color: $color-grey-dark;
    }
}

.ds-button-text.ds-button-deactivated {
    background-color: $color-white;
    color: $color-grey-dark;
}

.ds-button[class*="deactivated"] {
    &:active,
    &:focus,
    &:hover {
        cursor: not-allowed;
    }
}
