<h4>Grid on xs view (320px)</h4>
<div class="ds-container" style="max-width: 320px">
    <div class="ds-grid">
        <div class="ds-col-xs-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1">
            <div class="ds-box-row">1</div>
        </div>
    </div>
    <div class="ds-grid">
        <div class="ds-col-xs-6">
            <div class="ds-box-row">6</div>
        </div>
        <div class="ds-col-xs-6">
            <div class="ds-box-row">6</div>
        </div>
    </div>
    <div class="ds-grid">
        <div class="ds-col-xs-12">
            <div class="ds-box-row">12</div>
        </div>
    </div>

</div>
<p>&nbsp;</p>
<h4>Grid on s view (600px)</h4>
<div class="ds-container" style="max-width: 600px">
    <div class="ds-grid">
        <div class="ds-col-xs-1 ds-col-s-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-s-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-s-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-s-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-s-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-s-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-s-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-s-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-s-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-s-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-s-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-s-1">
            <div class="ds-box-row">1</div>
        </div>
    </div>
    <div class="ds-grid">
        <div class="ds-col-xs-6 ds-col-s-6">
            <div class="ds-box-row">6</div>
        </div>
        <div class="ds-col-xs-6 ds-col-s-6">
            <div class="ds-box-row">6</div>
        </div>
    </div>
    <div class="ds-grid">
        <div class="ds-col-xs-12 ds-col-s-12">
            <div class="ds-box-row">12</div>
        </div>
    </div>

</div>
<p>&nbsp;</p>
<h4>Grid on m view (960px)</h4>
<div class="ds-container" style="max-width: 960px">
    <div class="ds-grid">
        <div class="ds-col-xs-1 ds-col-m-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-m-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-m-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-m-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-m-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-m-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-m-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-m-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-m-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-m-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-m-1">
            <div class="ds-box-row">1</div>
        </div>
        <div class="ds-col-xs-1 ds-col-m-1">
            <div class="ds-box-row">1</div>
        </div>
    </div>
    <div class="ds-grid">
        <div class="ds-col-xs-12 ds-col-m-4">
            <div class="ds-box-row">4</div>
        </div>
        <div class="ds-col-xs-12 ds-col-m-4">
            <div class="ds-box-row">4</div>
        </div>
        <div class="ds-col-xs-12 ds-col-m-4">
            <div class="ds-box-row">4</div>
        </div>
    </div>
    <div class="ds-grid">
        <div class="ds-col-xs-12 ds-col-m-8">
            <div class="ds-box-row">8</div>
        </div>
        <div class="ds-col-xs-12 ds-col-m-4">
            <div class="ds-box-row">4</div>
        </div>
    </div>
    <div class="ds-grid">
        <div class="ds-col-xs-12 ds-col-m-6">
            <div class="ds-box-row">6</div>
        </div>
        <div class="ds-col-xs-12 ds-col-m-6">
            <div class="ds-box-row">6</div>
        </div>
    </div>
    <div class="ds-grid">
        <div class="ds-col-xs-12 ds-col-m-12">
            <div class="ds-box-row">12</div>
        </div>
    </div>

</div>

