///*------------------------------------*\
//    #Fonts
//\*------------------------------------*/

$fontfamily-sansserif: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
$fontfamily-serif: "Georgia", "Times", "Times New Roman", serif;

$fontsize-heading-1: 32px !default;
$fontsize-heading-2: 24px !default;
$fontsize-heading-3: 20px !default;
$fontsize-heading-4: 16px !default;
$fontsize-heading-5: 14px !default;

$fontsize-text-copy: 16px !default;
$fontsize-text-small: 14px !default;
$fontsize-text-marginalia: 10px !default;

$fontsize-button--bigboss: 18px !default;
$fontsize-icon: 15px !default;

$lineheight-heading-1: $fontsize-heading-1 + $unit !default;
$lineheight-heading-2: $fontsize-heading-2 + $unit !default;
$lineheight-heading-3: $fontsize-heading-3 + ($unit / 2) !default;
$lineheight-heading-4: $fontsize-heading-4 + $unit !default;
$lineheight-heading-5: 20px !default;

$lineheight-text-copy: $fontsize-text-copy + $unit !default;
$lineheight-text-small: 20px !default;
$lineheight-text-marginalia: 1.5 !default;

$fontweight-thin: 100;
$fontweight-extra-light: 200;
$fontweight-light: 300;
$fontweight-normal: 400;
$fontweight-medium: 500;
$fontweight-semi-bold: 600;
$fontweight-bold: 700;
$fontweight-extra-bold: 800;
$fontweight-black: 900;

$fontfamily--base: $fontfamily-sansserif;
$fontsize--base: $fontsize-text-copy;

$font-heading-1: $fontweight-bold #{$fontsize-heading-1}/#{$lineheight-heading-1} $fontfamily-sansserif !default;
$font-heading-2: $fontweight-bold #{$fontsize-heading-2}/#{$lineheight-heading-2} $fontfamily-sansserif !default;
$font-heading-3: $fontweight-bold #{$fontsize-heading-3}/#{$lineheight-heading-3} $fontfamily-sansserif !default;
$font-heading-4: $fontweight-bold #{$fontsize-heading-4}/#{$lineheight-heading-4} $fontfamily-sansserif !default;
$font-heading-5: $fontweight-bold #{$fontsize-heading-5}/#{$lineheight-heading-5} $fontfamily-sansserif !default;

$font-subheading-1: $fontweight-normal #{$fontsize-heading-3}/#{$unit * 4} $fontfamily-sansserif !default;

$font-text-copy: $fontweight-normal #{$fontsize-text-copy}/#{$lineheight-text-copy} $fontfamily-sansserif !default;
$font-text-small: $fontweight-normal #{$fontsize-text-small}/#{$lineheight-text-small} $fontfamily-sansserif !default;
