<div class="ds-grid">
    <div class="ds-col-xs-12 ds-col-s-6 ds-col-m-6">
        <h4>Button with icon</h4>
        <button class="ds-button ds-button--standard" href="#">
            <i class="material-icons">star</i>
            Buttontext
        </button>
    </div>

    <div class="ds-col-xs-12 ds-col-s-6 ds-col-m-6">
        <h4>Button without icon</h4>
        <button class="ds-button ds-button--standard" href="#">
            Buttontext
        </button>
    </div>

    <div class="ds-col-xs-12 ds-col-s-6 ds-col-m-6">
        <h4>Wide button without icon</h4>
        <button class="ds-button ds-button--standard ds-button-wide" href="#">
            Buttontext
        </button>
    </div>
</div>
