<div class="ds-grid">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <h4>Button | .ds-button--standard</h4>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <button class="ds-button ds-button--standard" href="#">
            Buttontext
        </button>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <a class="ds-button ds-button--standard" href="#">
            <i class="material-icons">star</i>
            Buttontext
        </a>
    </div>
</div>
