<div class="ds-tabs">
    <div class="ds-tabs__item">
        <a class="ds-tabs__link ds-tabs__link--active" href="#">
                <span class="ds-tabs__icon-container">
                    <img class="ds-tabs__icon" src="{{ example-image }}" alt="">
                </span>
            <span class="ds-tabs__title">Large example title</span>
        </a>
    </div>
    <div class="ds-tabs__item">
        <a class="ds-tabs__link" href="#">
                <span class="ds-tabs__icon-container">
                    <img class="ds-tabs__icon" src="{{ example-image }}" alt="">
                </span>
            <span class="ds-tabs__title">Medium title</span>
        </a>
    </div>
    <div class="ds-tabs__item">
        <a class="ds-tabs__link" href="#">
                <span class="ds-tabs__icon-container">
                    <img class="ds-tabs__icon" src="{{ example-image }}" alt="">
                </span>
            <span class="ds-tabs__title">title</span>
        </a>
    </div>
    <div class="ds-tabs__item">
        <a class="ds-tabs__link" href="#">
                <span class="ds-tabs__icon-container">
                    <img class="ds-tabs__icon" src="{{ example-image }}" alt="">
                </span>
            <span class="ds-tabs__title">Extra Large example title</span>
        </a>
    </div>
</div>
