<h3>Standard-Größe</h3>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--1_0"></span>
    <span class="ds-rating__count">(22)</span>
</div>

<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--1_5"></span>
    <span class="ds-rating__count">(66)</span>
</div>

<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--2_0"></span>
    <span class="ds-rating__count">(66)</span>
</div>

<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--2_5"></span>
    <span class="ds-rating__count">(66)</span>
</div>

<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--3_0"></span>
    <span class="ds-rating__count">(34)</span>
</div>

<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--4_0"></span>
    <span class="ds-rating__count">(13)</span>
</div>

<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--4_5"></span>
    <span class="ds-rating__count">(13)</span>
</div>

<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--5_0"></span>
    <span class="ds-rating__count">(3)</span>
</div>

<h3>Sterne (klein)</h3>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--small ds-rating__stars--1_0"></span>
    <span class="ds-rating__count ds-rating__count--small">(22)</span>
</div>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--small ds-rating__stars--1_5"></span>
    <span class="ds-rating__count ds-rating__count--small">(66)</span>
</div>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--small ds-rating__stars--2_0"></span>
    <span class="ds-rating__count ds-rating__count--small">(66)</span>
</div>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--small ds-rating__stars--2_5"></span>
    <span class="ds-rating__count ds-rating__count--small">(66)</span>
</div>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--small ds-rating__stars--3_0"></span>
    <span class="ds-rating__count ds-rating__count--small">(34)</span>
</div>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--small ds-rating__stars--4_0"></span>
    <span class="ds-rating__count ds-rating__count--small">(13)</span>
</div>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--small ds-rating__stars--4_5"></span>
    <span class="ds-rating__count ds-rating__count--small">(13)</span>
</div>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--small ds-rating__stars--5_0"></span>
    <span class="ds-rating__count ds-rating__count--small">(3)</span>
</div>


<h3>Sterne (Groß)</h3>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--large ds-rating__stars--1_0"></span>
    <span class="ds-rating__count">(22)</span>
</div>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--large ds-rating__stars--1_5"></span>
    <span class="ds-rating__count">(66)</span>
</div>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--large ds-rating__stars--2_0"></span>
    <span class="ds-rating__count">(66)</span>
</div>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--large ds-rating__stars--2_5"></span>
    <span class="ds-rating__count">(66)</span>
</div>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--large ds-rating__stars--3_0"></span>
    <span class="ds-rating__count">(34)</span>
</div>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--large ds-rating__stars--4_0"></span>
    <span class="ds-rating__count">(13)</span>
</div>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--large ds-rating__stars--4_5"></span>
    <span class="ds-rating__count">(13)</span>
</div>
<div class="ds-rating">
    <span class="ds-rating__stars ds-rating__stars--large ds-rating__stars--5_0"></span>
    <span class="ds-rating__count">(3)</span>
</div>


