<div class="ds-grid">
    <div class="cds-color-wrapper">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #618F30;">
                <div>#618F30</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Corporate Green</h3>
            <code>$color-corporate-green</code>
            <p>Fläche (Button), Logo</p>
        </div>
    </div>

    <div class="cds-color-wrapper">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #537A29;">
                <div>#537A29</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Corporate Green Dark</h3>
            <code>$color-corporate-green-dark</code>
            <p>Texte (links, Button invertiert)</p>
        </div>
    </div>
</div>

<div class="ds-grid">
    <div class="cds-color-wrapper">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #403B3B;">
                <div>#403B3B</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Black</h3>
            <code>$color-black</code>
            <p>Standard Textfarbe</p>
        </div>
    </div>

    <div class="cds-color-wrapper">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: rgb(157, 157, 157);">
                <div>#9D9D9D</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Grey Dark</h3>
            <code>$color-grey-dark</code>
            <p>Für kurzen Text & deaktiviert Status</p>
        </div>
    </div>

    <div class="cds-color-wrapper">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: rgb(187, 185, 185);">
                <div>#BBB9B9</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Grey Medium</h3>
            <code>$color-grey-medium</code>
            <p>Für Icons und Fläche</p>
        </div>
    </div>

    <div class="cds-color-wrapper">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: rgb(216, 216, 216);">
                <div class="ndpl-dark-text">#D8D8D8</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Grey Light</h3>
            <code>$color-grey-light</code>
            <p>Linien, Umrandung etc.</p>
        </div>
    </div>

    <div class="cds-color-wrapper">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color ndpl-apply-border ndpl-c-border" style="background-color: #F6F5F2;">
                <div class="ndpl-dark-text">#F6F5F2</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Background Sand</h3>
            <code>$color-sand</code>
            <p>Body Background Color</p>
        </div>
    </div>

    <div class="cds-color-wrapper">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color ndpl-apply-border ndpl-c-border" style="background-color: #FFF;">
                <div class="ndpl-dark-text">#FFF</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Background White</h3>
            <code>$color-white</code>
            <p>Content Background Color</p>
        </div>
    </div>

    <div class="cds-color-wrapper">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: rgb(191, 83, 141);">
                <div>#BF538D</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Action Color</h3>
            <code>$color-purple</code>
            <p>Kennzeichnet Aktionen (nur innerhalb des Profilbereichs)</p>
        </div>
    </div>

    <div class="cds-color-wrapper">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: rgb(0, 124, 140);">
                <div>#007C8C</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Info Blue</h3>
            <code>$color-blue</code>
            <p>für reine Info-Mitteilungen</p>
        </div>
    </div>

    <div class="cds-color-wrapper">
        <div class="ndpl-component__color-container">
            <div class="ndpl-component__color" style="background-color: #EBC315;">
                <div>#EBC315</div>
            </div>
        </div>
        <div class="cds-color-description">
            <h3>Info Yellow</h3>
            <code>$color-yellow</code>
            <p>für Sterne und Warnungs-Mitteilungen<br/>(nur für minimalen Einsatz da
                nicht
                barrierefrei, Ratio: 1.7)</p>
        </div>
    </div>

    <div class="cds-color-wrapper">
    <div class="ndpl-component__color-container">
        <div class="ndpl-component__color" style="background-color: rgb(255, 102, 94);">
            <div>#FF665E</div>
        </div>
    </div>
    <div class="cds-color-description">
        <h3>Info Red</h3>
        <code>$color-red</code>
        <p>für Error-Mitteilungen / auch für VideoFlag<br/>(nur für minimalen Einsatz da nicht barrierefrei)</p>
    </div>
</div>
</div>