<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-8 ds-col-m-8">
        <h2>main</h2>
        <h4>Copy Text | &lt;p&gt;</h4>
        <p>Prosciutto short ribs boudin burgdoggen brisket ham chuck tongue flank pig biltong. Rump hamburger cow andouille salami tongue chuck cupim leberkas. Ground round shankle pork ham hock, pork loin drumstick sausage landjaeger biltong bresaola turducken short ribs.</p>
        <div class="margin-helper-2"></div>
        <h4>Copy Text | .ds-text-center</h4>
        <p class="ds-text-center">Porkchop Kevin bresaola ribeye chuck flank alcatra andouille,<br>sirloin bacon ground round ball tip tenderloin fatback venison burgdoggen.</p>
        <div class="margin-helper-2"></div>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4 ds-text-small">
        <h3>aside</h3>
        <h4>small-text siehe Abschnitt Small Text</h4>
        <p class="ds-text-small">Porkchop Kevin bresaola ribeye chuck flank alcatra andouille,<br>sirloin bacon ground round ball tip tenderloin fatback venison burgdoggen.</p>
        <div class="margin-helper-2"></div>
    </div>
</div>
