/* font-family
----------------------------------- */

$fontfamily-base: "Helvetica Neue", "HelveticaNeue", "Helvetica", "Arial", sans-serif;

/* font-sizes
----------------------------------- */

$fontsize-base: 16px !default;
$fontsize-small: 14px !default;

$fontsize-h1: 32px !default;
$fontsize-h2: 24px !default;
$fontsize-h3: 20px !default;
$fontsize-h4: $fontsize-base;
$fontsize-h5: $fontsize-small;

/* line-heights
----------------------------------- */

// we use px here so that we can reuse this variable again
$lineheight-base: 24px !default;
$lineheight-small: 20px !default;

$lineheight-h1: $fontsize-h1 + $unit !default; //40px
$lineheight-h2: $fontsize-h2 + $unit !default; //32px
$lineheight-h3: $lineheight-base;
$lineheight-h4: $lineheight-base;
$lineheight-h5: $lineheight-small;


/* font: x;
----------------------------------- */
// font: font-weight font-size/line-height font-family;

$font-base: normal #{$fontsize-base}/#{$lineheight-base} $fontfamily-base !default;
$font-small: normal #{$fontsize-small}/#{$lineheight-small} $fontfamily-base !default;

$font-h1: 700 #{$fontsize-h1}/#{$lineheight-h1} $fontfamily-base !default;
$font-h2: 700 #{$fontsize-h2}/#{$lineheight-h2} $fontfamily-base !default;
$font-h3: 700 #{$fontsize-h3}/#{$lineheight-h3} $fontfamily-base !default;
$font-h4: 700 #{$fontsize-h4}/#{$lineheight-h4} $fontfamily-base !default;
$font-h5: 700 #{$fontsize-h5}/#{$lineheight-h5} $fontfamily-base !default;


/* will be deleted
** when RDS gets its makeover
----------------------------------- */

$font-subheading-1: normal #{$fontsize-h3}/#{$unit * 4} $fontfamily-base !default;


/* deprecated?
----------------------------------- */

// will this be used?
$fontfamily-serif: "Georgia", "Times", "Times New Roman", serif;
$fontsize-marginalia: 10px !default;

$fontweight-thin: 100;
$fontweight-extra-light: 200;
$fontweight-light: 300;
$fontweight-normal: 400;
$fontweight-medium: 500;
$fontweight-semi-bold: 600;
$fontweight-bold: 700;
$fontweight-extra-bold: 800;
$fontweight-black: 900;
