@import "settings.typography";
@import "tools.typography";

body {
    font-family: $fontfamily--base;
    font-size: em($fontsize--base); // 16px
    line-height: 1.5; // 24px
}

/* reset
----------------------------------- */

h1,
.ds-h1,
h2,
.ds-h2,
h3,
.ds-h3,
h4,
.ds-h4,
p,
ul {
    margin-bottom: $unit * 2;
    margin-top: 0;
}

/* headlines
----------------------------------- */

h1,
.ds-h1 {
    font: $font-heading-1;
    margin-bottom: $unit * 4;
}

h1 + .ds-sub-h1 {
    font: $font-subheading-1;
    margin-bottom: $unit * 2;
    margin-top: -($unit * 4);
}

h2,
.ds-h2 {
    font: $font-heading-2;
    margin-bottom: $unit * 4;
}

h3,
.ds-h3 {
    font: $font-heading-3;
    margin-bottom: $unit * 2;
}

h4,
.ds-h4 {
    font: $font-heading-4;
    margin-bottom: $unit * 2;
}

h5,
.ds-h5 {
    font: $font-heading-5;
    margin: 0;
}

/* copy-text
----------------------------------- */

p {
    font: $font-text-copy;
}

/* typography utilities
----------------------------------- */

small,
.ds-text-small {
    display: block;
    font: $font-text-small;
}

.ds-text-center {
    text-align: center;
}

.ds-text-right {
    text-align: right;
}

.ds-text-italic {
    font-style: italic;
}

.ds-text-bold {
    font-weight: bold;
}

/* list-utilities
----------------------------------- */

.ds-list-plain {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin: 0;
        padding: 0;
    }
}

.ds-list-cloud {
    display: flex;
    flex-wrap: wrap;

    li {
        margin: 0 $unit $unit 0;
    }

    &:not(:last-of-type) {
        margin-bottom: $unit * 2;
    }
}
