@import "settings.typography";
@import "tools.typography";

body {
    font: $font-base;
}

/* reset
----------------------------------- */

h1,
.ds-h1,
h2,
.ds-h2,
h3,
.ds-h3,
h4,
.ds-h4,
p,
ul {
    margin-bottom: $unit * 2;
    margin-top: 0;
}

/* headlines
----------------------------------- */

h1,
.ds-h1 {
    font: $font-h1;
    margin-bottom: $unit * 4;
}

h1 + .ds-sub-h1 {
    font: $font-subheading-1;
    margin-bottom: $unit * 2;
    margin-top: -($unit * 4);
}

h2,
.ds-h2 {
    font: $font-h2;
    margin-bottom: $unit * 4;
}

h3,
.ds-h3 {
    font: $font-h3;
    margin-bottom: $unit * 2;
}

h4,
.ds-h4 {
    font: $font-h4;
    margin-bottom: $unit * 2;
}

h5,
.ds-h5 {
    font: $font-h5;
    margin: 0;
}

