.ds-rating {

    $star-size: 17px;
    $star-size-small: 15px;

    display: flex;
    align-items: center;

    // Star Elements

    &__stars {
        display: inline-block;
        height: $star-size;
        width: 84px;
        overflow: hidden;
        text-align: left;
        background-position: 0 0;
        background-image: url("https://img.chefkoch-cdn.de/img/search/star-grey.svg");
        background-repeat: repeat-x;
        background-size: $star-size;

        // Pseudo element for the filled rating stars

        &::after {
            content: "";
            height: 100%;
            display: inline-block;
            background-image: url("https://img.chefkoch-cdn.de/img/search/star-yellow.svg");
            background-repeat: repeat-x;
            background-size: $star-size;
            background-position: 0 0;
        }

        // Rating scores variants

        &--0_0::after {
            width: 0%;
        }

        &--0_5::after {
            width: 10%;
        }

        &--1_0::after {
            width: 20%;
        }

        &--1_5::after {
            width: 30%;
        }

        &--2_0::after {
            width: 40%;
        }

        &--2_5::after {
            width: 50%;
        }

        &--3_0::after {
            width: 60%;
        }

        &--3_5::after {
            width: 70%;
        }

        &--4_0::after {
            width: 80%;
        }

        &--4_5::after {
            width: 90%;
        }

        &--5_0::after {
            width: 100%;
        }

        // Size Modifiers

        &--large {
            height: 30px;
            width: 149px;
            background-size: 30px;

            &::after {
                background-size: 30px;
            }
        }

        &--small {
            height: $star-size-small;
            width: 73px;
            background-size: $star-size-small;

            &::after {
                background-size: $star-size-small;
            }
        }
    }

    // Count Element

    &__count {

        color: $color-text--grey;
        line-height: 1;
        margin-left: 5px;
        font-size: 15px;

        &--small {
            font-size: 13px;
        }
    }
}

.rating-raters-num {
    margin-left: 0.5em;
}
