<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <h3>Modul 1</h3>
        <div class="content-box margin-box">
            <div class="padding-helper"></div>
            <div class="content-helper">
                content
                <br/>
                <br/>
                <br/>
            </div>
        </div>

        <div class="margin-helper"></div>
        <hr/>
        <div class="margin-helper"></div>

        <h3>Modul 2</h3>
        <div class="content-box margin-box">
            <div class="padding-helper"></div>
            <div class="content-helper">
                content
                <br/>
                <br/>
                <br/>
            </div>
        </div>
        <div class="margin-helper"></div>
    </div>
</div>
