/* NOTE:
** These are the base files to make DSY work in your project.
** Do not change that order.
** use @import "~chefkoch-design-system/patterns/dsy-base"; first before including patterns
*/

// base vars
@import "vars";
// mediaqueries using base vars
@import "../app/components/breakpoints/breakpoints";
// grid using mediaqueries
@import "../app/components/grid/flexbox-grid";
// typography's settings using base vars
@import "../app/components/typography/typography";

@import "../app/components/colors/colors";
@import "../app/components/links/links";
