/*
 * Additional Styling for Astrum
 * Stylelint disalbed for lacking of the "ds-" namespace
 */

/* stylelint-disable  */

.ndpl-sidebar__logo {
    max-width: 100%;
}

.cds-color-wrapper {
    display: flex;
    margin-bottom: 3%;

    &:last-child {
        margin-bottom: 0;
    }

    h3 {
        margin-top: 0;
    }
}

.note-container-example {
    background: #999;
    padding: 20px 0;
}


.ndpl-component__description {
    p { font-size: 16px; }
}

@media only screen and (max-width: 60em) {
    .ndpl-component__color-container {
        margin-right: 3%;
        width: 17.5%;
    }
}

/* Grid enhancements */

#group-grid {
    .ndpl-component__sample {
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        .ds-container {
            background: #eee;
            padding-top: $unit;
        }
    }
}

/* Typography enhancements */

#group-typography {
    .ndpl-component__container {
        background: #fff;
        position: relative;

        &:before {
            content: 'Hover over this container to see the Baseline Grid.';
            color: #888;
            display: block;
            font-size: 12px;
            position: absolute;
            top: 5px;
            right: 6px;
            transition: opacity 0.3s ease;
        }

        &:hover {
            &:before {
                opacity: 0;
            }
        }
    }

    div[class*="component__sample"] {
        background: transparent;
        z-index: 1;

        &:before {
            content: '';
            display: block;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        h1, h2, h3, h4, h5, p, small {
            background-color: transparent;
            transition: background-color 0.3s ease 0.15s;
        }

        &:hover {
            &:before {
                background: url("../app/images/baseline-grid-16px.png") repeat 36px 36px;
                height: 100%;
                opacity: 1;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                z-index: -1;
            }

            h1, h2, h3, h4, h5, p, small {
                background-color: rgba($color-corporate-green, 0.15);
            }
        }
    }
}
/* stylelint-enable */
