/*
 * Additional Styling for Astrum
 * Stylelint disalbed for lacking of the "ds-" namespace
 */

/* stylelint-disable  */

.ndpl-sidebar__logo {
    max-width: 100%;
}

.note-container-example {
    background: #999;
    padding: 20px 0;
}

.ndpl-page {
    width: 100%;
    max-width: 100%;
}

.ndpl-page,
.ndpl-group__description,
.ndpl-component__description {
    p {
        font-size: $fontsize-text-copy;
    }

    code {
        border: 1px solid $color-grey-medium;
        color: $color-black;
        font-size: 14px;
    }

    pre {
        code {
            background: $color-sand;
            padding: $unit;
        }
    }
}

.ndpl-page {
    small {
        display: inline-block;
    }
}

/* Breakpoints enhancements
----------------------------------- */

#group-breakpoints {
    .ndpl-component__sample {
        code {
            border: 1px solid $color-grey-medium;
            border-radius: 3px;
            color: $color-black;
            display: inline-block;
            font-size: 14px;
            margin-bottom: $unit;
            padding: $unit;
        }
    }
}

/* Grid enhancements
----------------------------------- */

#group-grid {
    .ndpl-component__sample {
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        .ds-container {
            background: #eee;
            padding-top: $unit;

            // for presentation purposes only
            &.ds-grid-xxs {
                @include media-breakpoint-to(m) {
                    padding: 0 $gutter-half-small;
                    padding-top: $unit;

                    [class*="col-xs"] {
                        padding-right: $gutter-half-small;
                        padding-left: $gutter-half-small;
                    }
                }
            }

            &.ds-grid-xs {
                @include media-breakpoint-between(xs,m) {
                    padding: 0 $gutter-half-std;
                    padding-top: $unit;

                    [class*="col-xs"] {
                        padding-right: $gutter-half-std;
                        padding-left: $gutter-half-std;
                    }
                }
            }
        }
    }
}

.ds-box-row {
    background: $color-corporate-green;
    border: 1px solid $color-corporate-green;
    box-sizing: border-box;
    color: $color-white;
    font-size: 10px;
    height: $unit * 2;
    letter-spacing: 0.5px;
    margin-bottom: $unit;
    overflow: hidden;
    position: relative;
    text-align: center;
}


/* Colours enhancements
----------------------------------- */

.ndpl-component__color-container {
    width: 100%;
    margin: 0;
}

.cds-color-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: $unit * 3;

    @extend .ds-col-xs-12;
    @extend .ds-col-s-6;
    @extend .ds-col-m-4;
}

#group-colors {
    .ds-grid:first-child {
        .cds-color-wrapper {
            @extend .ds-col-m-6;
        }
    }

    .ndpl-component__sample {
        code {
            border: 1px solid $color-grey-medium;
            border-radius: 3px;
            color: $color-black;
            display: inline-block;
            font-size: 14px;
            margin-bottom: $unit;
            padding: $unit;
        }

        small {
            color: $color-grey-dark;

            code {
                display: inline-block;
                font-size: $fontsize-text-small;
            }
        }
    }
}

.ndpl-component__color {
    @include media-breakpoint-to(m) {
        padding: ($unit * 6) 0;
    }
}

.ndpl-component__color:first-of-type {
    margin-bottom: $unit;
}

/* Container hints
----------------------------------- */

#group-typography,
#group-links,
#group-buttons,
#group-margins {
    .ndpl-component__container {
        background: #fff;
        position: relative;

        &:before {
            color: #888;
            display: block;
            font-size: 12px;
            position: absolute;
            top: 5px;
            right: 6px;
        }
    }

    div[class*="component__sample"] {
        background: transparent;
        z-index: 1;
    }
}

#group-typography,
#group-links,
#group-margins {
    .ndpl-component__container {
        &:before {
            transition: opacity 0.3s ease;
            opacity: 1;
        }

        &:hover {
            &:before {
                opacity: 0;
            }
        }
    }
}

/* Typography enhancements
----------------------------------- */

#group-links {
    .ndpl-component__container {
        &:before {
            content: 'Hover over the Links to see them in action.';
        }
    }
}

#group-typography {
    .ndpl-component__container {
        &:before {
            content: 'Hover over this container to see the Baseline Grid.';
        }
    }

    div[class*="component__sample"] {
        &:before {
            content: '';
            display: block;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        h1, h2, h3, h4, h5, p, small {
            background-color: transparent;
            transition: background-color 0.3s ease 0.15s;
        }

        &:hover {
            &:before {
                background: url("../app/images/baseline-grid-16px.png") repeat 36px 36px;
                height: 100%;
                opacity: 1;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                z-index: -1;
            }

            h1, h2, h3, h4, h5, p, small {
                background-color: rgba($color-corporate-green, 0.15);
            }
        }
    }
}

/* Button enhancements
----------------------------------- */

#group-buttons {
    .ndpl-component__container {
        &:before {
            content: 'Hover over or click the Buttons to see hover and focus states.';
        }
    }
}


/* Tables
----------------------------------- */

td,
th {
    text-align: left;
    padding: $unit / 2;
}

td {
    border-top: 1px solid $color-grey-light;
}


#group-margins {
    hr {
        border: 0;
        border-top: 1px solid $color-grey-light;
        margin: 0;
    }

    .margin-box {
        border: 1px solid $color-grey-light;
        height: 160px;
        position: relative;
    }

    .margin-helper,
    .padding-helper {
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .margin-helper {
        height: $unit * 4;
    }

    .margin-helper-2 {
        height: $unit * 2;
    }

    .padding-helper {
        height: 100%;
    }

    .content-helper {
        background: $color-white;
        height: 128px;
        opacity: 1;
        position: absolute;
        left: $unit * 2;
        top: $unit * 2;
        width: calc(100% - #{$unit * 4});
    }

    .ndpl-component__container {
        &:before {
            content: 'Hover over this container to see the margin.';
        }

        &:hover {
            .margin-helper,
            .padding-helper {
                background-size: 22.63px 22.63px;
                opacity: 1;
            }

            .margin-helper {
                background-image: linear-gradient(135deg, rgba(255, 165, 0, 0.1) 25%, rgba(255, 165, 0, 0.3) 25%, rgba(255, 165, 0, 0.3) 50%, rgba(255, 165, 0, 0.1) 50%, rgba(255, 165, 0, 0.1) 75%, rgba(255, 165, 0, 0.3) 75%, rgba(255, 165, 0, 0.3) 100%);
            }

            .padding-helper {
                background-image: linear-gradient(135deg, rgba(97, 143, 48, 0.1) 25%, rgba(97, 143, 48, 0.3) 25%, rgba(97, 143, 48, 0.3) 50%, rgba(97, 143, 48, 0.1) 50%, rgba(97, 143, 48, 0.1) 75%, rgba(97, 143, 48, 0.3) 75%, rgba(97, 143, 48, 0.3) 100%);
            }
        }
    }

    #group-margins-component-content {
        .content-helper-1 {
            left: $unit * 2;
            top: $unit * 2;
            width: 33%;
        }

        .content-helper-2 {
            margin-left: calc(33% + #{$unit * 4});
            top: $unit * 2;
            left: auto;
            width: calc(66% - 42px);
        }
    }
}
/* stylelint-enable */
