/*
 * Additional Styling for Astrum
 * Stylelint disalbed for lacking of the "ds-" namespace
 */

/* stylelint-disable  */

.ndpl-sidebar__logo {
    max-width: 100%;
}

.note-container-example {
    background: #999;
    padding: 20px 0;
}

.ndpl-group__description,
.ndpl-component__description {
    p {
        font-size: $fontsize-text-copy;
    }

    code {
        color: $color-grey-dark;
    }
}

/* Colours enhancements
----------------------------------- */

.ndpl-component__color-container {
    width: 100%;
    margin: 0;
}

.cds-color-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: $unit * 3;

    @extend .ds-col-xs-12;
    @extend .ds-col-s-6;
    @extend .ds-col-m-4;
}

#group-colors {
    .ds-grid:first-child {
        .cds-color-wrapper {
            @extend .ds-col-m-6;
        }
    }

    .ndpl-component__sample {
        code {
            display: block;
            font-size: $fontsize-text-copy;
            margin-bottom: $unit;
        }

        small {
            color: $color-grey-dark;

            code {
                display: inline-block;
                font-size: $fontsize-text-small;
            }
        }
    }
}

.ndpl-component__color {
    @include media-breakpoint-to(m) {
        padding: ($unit * 6) 0;
    }
}

.ndpl-component__color:first-of-type {
    margin-bottom: $unit;
}

/* Grid enhancements
----------------------------------- */

#group-grid {
    .ndpl-component__sample {
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        .ds-container {
            background: #eee;
            padding-top: $unit;

            // for presentation purposes only
            &.ds-grid-xxs {
                @include media-breakpoint-to(m) {
                    padding: 0 $gutter-half-small;
                    padding-top: $unit;

                    [class*="col-xs"] {
                        padding-right: $gutter-half-small;
                        padding-left: $gutter-half-small;
                    }
                }
            }

            &.ds-grid-xs {
                @include media-breakpoint-between(xs,m) {
                    padding: 0 $gutter-half-std;
                    padding-top: $unit;

                    [class*="col-xs"] {
                        padding-right: $gutter-half-std;
                        padding-left: $gutter-half-std;
                    }
                }
            }
        }
    }
}

.ds-box-row {
    background: $color-corporate-green;
    border: 1px solid $color-corporate-green;
    box-sizing: border-box;
    color: $color-white;
    font-size: 10px;
    height: $unit * 2;
    letter-spacing: 0.5px;
    margin-bottom: $unit;
    overflow: hidden;
    position: relative;
    text-align: center;
}

/* Typography enhancements
----------------------------------- */

#group-typography,
#group-links {
    .ndpl-component__container {
        background: #fff;
        position: relative;

        &:before {
            color: #888;
            display: block;
            font-size: 12px;
            position: absolute;
            top: 5px;
            right: 6px;
        }
    }

    div[class*="component__sample"] {
        background: transparent;
        z-index: 1;
    }
}

#group-links {
    .ndpl-component__container {
        &:before {
            content: 'Hover over the Links to see them in action.';
        }
    }
}

#group-typography {
    .ndpl-component__container {
        &:before {
            content: 'Hover over this container to see the Baseline Grid.';
            transition: opacity 0.3s ease;
        }

        &:hover {
            &:before {
                opacity: 0;
            }
        }
    }

    div[class*="component__sample"] {
        &:before {
            content: '';
            display: block;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        h1, h2, h3, h4, h5, p, small {
            background-color: transparent;
            transition: background-color 0.3s ease 0.15s;
        }

        &:hover {
            &:before {
                background: url("../app/images/baseline-grid-16px.png") repeat 36px 36px;
                height: 100%;
                opacity: 1;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                z-index: -1;
            }

            h1, h2, h3, h4, h5, p, small {
                background-color: rgba($color-corporate-green, 0.15);
            }
        }
    }
}
/* stylelint-enable */
