/* stylelint-disable at-rule-blacklist */

@mixin pagination-dot( $color ) {
    background: $color;
    border-radius: 20px;
}

%pagination-item-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $unit * 4;
    min-width: $unit * 4;
}

%pagination-link {
    color: $color-grey-dark;
    text-decoration: none;
}

%pagination-dot-type {
    color: $color-white;
    text-decoration: none;
}

%pagination-dot-hover {
    &:hover,
    &:focus {
        @include pagination-dot( $color-corporate-green-dark );
        @extend %pagination-dot-type;
    }
}

/* pagination container
--------------------------------------------- */

.ds-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: ($unit * 4) 0;

    @media screen and (max-width: 414px) {
        flex-wrap: wrap;
    }

    i {
        font-size: 26px;
    }
}

/* pagination item
--------------------------------------------- */

.ds-page-item {
    list-style-type: none;
    margin: 0 2.5px;

    &.ds-disabled {
        @extend %pagination-item-box;
        color: $color-grey-light;
        cursor: default;
    }

    &.ds-truncated {
        > span {
            color: $color-grey-dark;
            cursor: default;
            display: block;
            line-height: 34px;
        }
    }
}

/* pagination link
--------------------------------------------- */

.ds-page-link {
    box-sizing: border-box;
    padding: 0 $unit;

    .ds-active & {
        @include pagination-dot( $color-corporate-green );
        @extend %pagination-item-box;
        @extend %pagination-dot-type;
        @extend %pagination-dot-hover;
    }
}

.ds-page-item:not(.ds-active) {
    .ds-page-link {
        @extend %pagination-link;
        @extend %pagination-item-box;

        &:hover,
        &:focus {
            color: $color-corporate-green-dark;
            text-decoration: underline;
        }
    }
}

.ds-page-item.ds-prev,
.ds-page-item.ds-next {
    @extend %pagination-link;

    .ds-page-link {
        padding: 0;
    }

    &:not(.ds-disabled) {
        .ds-page-link {
            @extend %pagination-dot-hover;
        }
    }
}

/* pagination icon
--------------------------------------------- */

.ds-page-item.ds-prev {
    i {
        margin-left: -2px;
    }
}

.ds-page-item.ds-next {
    i {
        margin-left: 1px;
    }
}

/* stylelint-enable at-rule-blacklist */
