.ds-pill {
    border: 1px solid $color-corporate-green;
    border-radius: $unit * 4;
    display: flex;
    font-size: 14px;
    padding: 5px $unit; // 32px height
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* firefox only */
    @supports (-moz-appearance:none) {
        padding: 4px $unit 6px;
    }

    &:hover,
    &:focus {
        border-color: $color-corporate-green-dark;
    }

    .ds-tags & {
        background: $color-corporate-green;
        color: $color-text-inverted;

        &:hover,
        &:focus {
            background: $color-corporate-green-dark;
        }
    }

    .ds-filter & {
        background: $color-white;
        color: $color-text;

        &:hover,
        &:focus {
            background: $color-corporate-green-dark;
            color: $color-text-inverted;
        }
    }
}

.ds-pill-active {
    padding: 5px ($unit / 2) 5px $unit;

    /* firefox only */
    @supports (-moz-appearance:none) {
        padding: 4px ($unit / 2) 6px $unit;
    }

    .ds-filter & {
        background: $color-corporate-green;
        color: $color-text-inverted;
    }

    // material-icons
    i {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin-left: 3px; // this will make 8 in the end

        /* firefox only */
        @supports (-moz-appearance:none) {
            margin-top: 1px;
        }
    }
}
