.ds-pill {
    border: 1px solid $color-corporate-green;
    border-radius: $unit * 4;
    display: flex;
    padding: 3px $unit; // 32px height = 24px line-height + 6px padding + 2px border
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &:hover,
    &:focus {
        border-color: $color-corporate-green-dark;
    }

    .ds-tags & {
        background: $color-corporate-green;
        color: $color-white;

        &:hover,
        &:focus {
            background: $color-corporate-green-dark;
        }
    }

    .ds-filter & {
        background: $color-white;
        color: $color-black;

        &:hover,
        &:focus {
            background: $color-corporate-green-dark;
            color: $color-white;
        }
    }
}

.ds-pill-active {
    padding: 3px ($unit / 2) 3px $unit;

    .ds-filter & {
        background: $color-corporate-green;
        color: $color-white;
    }

    // material-icons
    i {
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-left: 3px; // this will make 8 in the end
    }
}
