<nav aria-label="Pagination" class="ds-col-xs-12 ds-col-m-8 ds-pagination-container">
    <ul class="ds-pagination">
        <li class="ds-page-item ds-prev ds-disabled">
            <i class="material-icons">navigate_before</i>
            <span class="ds-sr-only">Vorherige Seite</span>
        </li>

        <li class="ds-page-item ds-active">
            <a class="ds-page-link bi-paging-jump"
               href="//recipe-amp.local.dev.chefkoch.de:3000/rs/s0t32/burger/Vegetarisch-Rezepte.html" title="Seite 1">1
                <span class="ds-sr-only">Aktuelle Seite</span>
            </a>
        </li>

        <li class="ds-page-item">
            <a class="ds-page-link bi-paging-jump" href="//recipe-amp.local.dev.chefkoch.de:3000/rs/s30t32/burger/Vegetarisch-Rezepte.html" title="Seite 2">2
            </a>
        </li>
        <li class="ds-page-item">
            <a class="ds-page-link bi-paging-jump" href="//recipe-amp.local.dev.chefkoch.de:3000/rs/s60t32/burger/Vegetarisch-Rezepte.html" title="Seite 3">3
            </a>
        </li>
        <li class="ds-page-item">
            <a class="ds-page-link bi-paging-jump" href="//recipe-amp.local.dev.chefkoch.de:3000/rs/s90t32/burger/Vegetarisch-Rezepte.html" title="Seite 4">4
            </a>
        </li>
        <li class="ds-page-item">
            <a class="ds-page-link bi-paging-jump" href="//recipe-amp.local.dev.chefkoch.de:3000/rs/s120t32/burger/Vegetarisch-Rezepte.html" title="Seite 5">5
            </a>
        </li>
        <li class="ds-page-item">
            <a class="ds-page-link bi-paging-jump" href="//recipe-amp.local.dev.chefkoch.de:3000/rs/s150t32/burger/Vegetarisch-Rezepte.html" title="Seite 6">6
            </a>
        </li>

        <li class="ds-page-item ds-next">
            <a class="ds-page-link bi-paging-next" href="//recipe-amp.local.dev.chefkoch.de:3000/rs/s30t32/burger/Vegetarisch-Rezepte.html" title="zu Seite 2">
                <i class="material-icons">navigate_next</i>
                <span class="ds-sr-only">Nächste Seite</span>
            </a>
        </li>
    </ul>
</nav>