<div class="ds-grid">

    <nav aria-label="Pagination" class="ds-col-xs-12 ds-col-s-12 ds-col-m-6">
        <ul class="ds-pagination">
            <div class="padding-helper padding-helper-1"></div>
            <li class="ds-page-item ds-prev ds-disabled">
                <i class="material-icons">navigate_before</i>
                <span class="ds-sr-only">Vorherige Seite</span>
            </li>

            <li class="ds-page-item ds-active">
                <a class="ds-page-link bi-paging-jump" href="#" title="Seite 1">1
                    <span class="ds-sr-only">Aktuelle Seite</span>
                </a>
            </li>

            <li class="ds-page-item">
                <a class="ds-page-link bi-paging-jump" href="#" title="Seite 2">2
                </a>
            </li>
            <li class="ds-page-item">
                <a class="ds-page-link bi-paging-jump" href="#" title="Seite 3">3
                </a>
            </li>
            <li class="ds-page-item">
                <a class="ds-page-link bi-paging-jump" href="#" title="Seite 4">4
                </a>
            </li>
            <li class="ds-page-item">
                <a class="ds-page-link bi-paging-jump" href="#" title="Seite 5">5
                </a>
            </li>
            <li class="ds-page-item">
                <a class="ds-page-link bi-paging-jump" href="#" title="Seite 6">6
                </a>
            </li>

            <li class="ds-page-item ds-next">
                <a class="ds-page-link bi-paging-next" href="#" title="zu Seite 2">
                    <i class="material-icons">navigate_next</i>
                    <span class="ds-sr-only">Nächste Seite</span>
                </a>
            </li>
            <div class="padding-helper padding-helper-2"></div>
        </ul>
    </nav>

    <nav aria-label="Pagination" class="ds-col-xs-12 ds-col-s-12 ds-col-m-6">
        <ul class="ds-pagination">
            <div class="padding-helper padding-helper-1"></div>
            <li class="ds-page-item ds-prev">
                <a class="ds-page-link bi-paging-prev" href="#" title="zur vorherigen Seite">
                    <i class="material-icons">navigate_before</i>
                    <span class="ds-sr-only">Vorherige Seite</span>
                </a>
            </li>

            <li class="ds-page-item">
                <a class="ds-page-link bi-paging-jump" href="#" title="Seite 1">1
                    <span class="ds-sr-only">Aktuelle Seite</span>
                </a>
            </li>

            <li class="ds-page-item ds-truncated">
                <span aria-hidden="true">…</span>
                <span class="ds-sr-only">...</span>
            </li>

            <li class="ds-page-item">
                <a class="ds-page-link bi-paging-jump" href="#" title="Seite 5">5
                </a>
            </li>

            <li class="ds-page-item ds-active">
                <a class="ds-page-link bi-paging-jump" href="#" title="Seite 6">6
                    <span class="ds-sr-only">Aktuelle Seite</span>
                </a>
            </li>

            <li class="ds-page-item">
                <a class="ds-page-link bi-paging-jump" href="#" title="Seite 7">7
                </a>
            </li>
            <li class="ds-page-item">
                <a class="ds-page-link bi-paging-jump" href="#" title="Seite 8">8
                </a>
            </li>

            <li class="ds-page-item ds-next">
                <a class="ds-page-link bi-paging-next" href="#" title="zur nächsten Seite">
                    <i class="material-icons">navigate_next</i>
                    <span class="ds-sr-only">Nächste Seite</span>
                </a>
            </li>
            <div class="padding-helper padding-helper-2"></div>
        </ul>
    </nav>

</div>