<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-8 ds-col-m-8">
        <h1>Heading Level 1 | &lt;h1&gt; | .ds-h1 </h1>
        <div class="margin-helper"></div>
        <p>F 32px / L 40px / M 32px. Die <strong>&lt;h1&gt;</strong> ist die Überschrift des gesamten Dokumentes und kommt aus SEO-Gründen nur ein mal pro Seite vor. Sie muss nicht zwingend wie eine h1 aussehen und darf demnach mit anderen ds-h[2-5] gestyled werden.</p>

        <h2>Heading Level 2 | &lt;h2&gt; | .ds-h2 </h2>
        <div class="margin-helper"></div>
        <p>F 24px / L 32px / M 32px. Jeder neue Bereich, bzw. jedes neue Modul/Feature, welches eine Headline hat,
            bekommt eine
            <strong>&lt;h2&gt;</strong></p>

        <h3>Heading level 3 | &lt;h3&gt; | .ds-h3</h3>
        <div class="margin-helper-2"></div>
        <p>F 20px / L 24px / M 16px. Rump hamburger cow andouille salami tongue chuck cupim leberkas.</p>

        <h4>Heading level 4 | &lt;h4&gt; | .ds-h4</h4>
        <div class="margin-helper-2"></div>
        <p>F 16px / L 24px / M 16px. Ground round shankle pork ham hock, pork loin drumstick sausage landjaeger biltong bresaola turducken short ribs.</p>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4 ds-text-small">
        <h3>Heading level 3 | &lt;h3&gt; | .ds-h3</h3>
        <div class="margin-helper-2"></div>
        <p>F 20px / L 24px / M 16px. Headlines beginnen innerhalb einer &lt;aside&gt; bei <strong>&lt;h3&gt;</strong>
            .</p>

        <h4>Heading level 4 | &lt;h4&gt; | .ds-h4</h4>
        <div class="margin-helper-2"></div>
        <p>F 16px / L 24px / M 16px. Prosciutto short ribs boudin burgdoggen brisket ham chuck tongue flank pig biltong
            .</p>

        <h5>Heading level 5 | &lt;h5&gt; | .ds-h5</h5>
        <p>F 14px / L 20px / M 0. Rump hamburger cow andouille salami tongue chuck cupim leberkas.</p>
    </div>
</div>
