<div class="ds-grid ds-row">
    <div class="content-box-wrapper ds-col-xs-12 ds-col-s-6 ds-col-m-6">
        <div class="content-box">
            <h4>Standard List (Referenz)</h4>
            <ul>
                <li>Bacon Stripes</li>
                <li>Bacon Stripes</li>
                <li>Bacon Stripes</li>
            </ul>
        </div>
    </div>

    <div class="content-box-wrapper ds-col-xs-12 ds-col-s-6 ds-col-m-6">
        <div class="content-box">
            <h4>.ds-list-plain</h4>
            <ul class="ds-list-plain">
                <li>Bacon Stripes</li>
                <li>Bacon Stripes</li>
                <li>Bacon Stripes</li>
            </ul>
        </div>
    </div>

    <div class="content-box-wrapper ds-col-xs-12 ds-col-s-6 ds-col-m-6">
        <div class="content-box">
            <h4>.ds-list-plain.ds-list-cloud</h4>
            <ul class="ds-list-plain ds-list-cloud">
                <li>Bacon Stripes</li>
                <li>Bacon Stripes</li>
                <li>Bacon Stripes</li>
            </ul>
        </div>
    </div>
</div>
