<!-- ----------------------------------------------- 

    // Um das CSS für den Button nutzen zu können,
    // inkludiere das SCSS aus dem Design-Sytem
    @import 'pill/pill';

------------------------------------------------ -->

<a class="ds-pill ds-pill--standard ds-mr--2" href="#">Apfelkuchen</a>
<a class="ds-pill ds-pill--standard ds-mr--2" href="#">Auflauf</a>
<a class="ds-pill ds-pill--active ds-mr--2" href="#">Biskuitboden</a>
<a class="ds-pill ds-pill--standard ds-mr--2" href="#">Blechkuchen</a>
<a class="ds-pill ds-pill--active ds-mr--2" href="#">Flamkuchen</a>