/*
 * Additional Styling for Astrum to make it all oh so pretty <3
 * Stylelint disabled for lacking of the "ds-" namespace
 */

/* stylelint-disable  */

.ndpl-sidebar__logo {
    max-width: 100%;
}

.note-container-example {
    background: #999;
    padding: 20px 0;
}

@media only screen and (min-width: 60em) {
    .ndpl-component__sample {
        border-radius: $unit $unit 0 0;
    }

    .ndpl-component__sample--disabled-code {
        border-radius: $unit;
    }
}

.ndpl-page {
    width: 100%;
    max-width: 100%;
}

.ndpl-library {
    padding-top: 0;
}

.ndpl-library__group:not(:first-child) {
    border-top: 1px solid $color-grey-light;
    padding-top: 60px;
}

.ndpl-page, .ndpl-intro, .ndpl-group__description, .ndpl-component__description {
    font-weight: normal;
    line-height: 1.5;
}

.ndpl-page, .ndpl-loading__title, .ndpl-error, .ndpl-info, .ndpl-header, .ndpl-sidebar, .ndpl-intro, .ndpl-library__title, .ndpl-group__description, .ndpl-component__title, .ndpl-component__description, .ndpl-component__label, .ndpl-component__code-toggle, .ndpl-component__color, .ndpl-page, .ndpl-nav__title, .ndpl-sidebar__title {
    font-family: $fontfamily-base;
}

.ndpl-page,
.ndpl-group__description,
.ndpl-component__description {
    p,
    li {
        font-size: $fontsize-base;
    }

    code {
        border: 1px solid $color-grey-medium;
        color: $color-black;
        font-size: $fontsize-small;
    }

    pre {
        code {
            background: $color-sand;
            padding: $unit;
        }
    }
}

.ndpl-page {
    small {
        display: inline-block;
    }
}

/* Breakpoints enhancements
----------------------------------- */

#group-breakpoints {
    .ndpl-component__sample {
        code {
            border: 1px solid $color-grey-medium;
            border-radius: $unit / 2;
            color: $color-black;
            display: inline-block;
            font-size: $fontsize-small;
            margin-bottom: $unit;
            padding: $unit;
        }
    }
}

/* Grid enhancements
----------------------------------- */

#group-grid {
    .ndpl-component__sample {
        padding-left: 0;
        padding-right: 0;
        text-align: center;

        .ds-container {
            background: #eee;
            padding-top: $unit;

            // for presentation purposes only
            &.ds-grid-xxs {
                @include media-breakpoint-to(m) {
                    padding: 0 $gutter-half-small;
                    padding-top: $unit;

                    [class*="col-xs"] {
                        padding-right: $gutter-half-small;
                        padding-left: $gutter-half-small;
                    }
                }
            }

            &.ds-grid-xs {
                @include media-breakpoint-between(xs,m) {
                    padding: 0 $gutter-half-std;
                    padding-top: $unit;

                    [class*="col-xs"] {
                        padding-right: $gutter-half-std;
                        padding-left: $gutter-half-std;
                    }
                }
            }
        }
    }
}

.ds-box-row {
    background: $color-corporate-green;
    border: 1px solid $color-corporate-green;
    box-sizing: border-box;
    color: $color-white;
    font-size: 10px;
    height: $unit * 2;
    letter-spacing: 0.5px;
    margin-bottom: $unit;
    overflow: hidden;
    position: relative;
    text-align: center;
}


/* Colours enhancements
----------------------------------- */

.ndpl-component__color:first-of-type:last-of-type {
    border-radius: $unit;
}

.ndpl-component__color-container {
    width: 100%;
    margin: 0;
}

.cds-color-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: $unit * 3;

    @extend .ds-col-xs-12;
    @extend .ds-col-s-6;
    @extend .ds-col-m-4;
}

#group-colors {
    .ds-grid:first-child {
        .cds-color-wrapper {
            @extend .ds-col-m-6;
        }
    }

    .ndpl-component__sample {
        code {
            border: 1px solid $color-grey-medium;
            border-radius: $unit / 2;
            color: $color-black;
            display: inline-block;
            font-size: $fontsize-small;
            margin-bottom: $unit;
            padding: $unit;
        }

        small {
            color: $color-grey-dark;

            code {
                display: inline-block;
                font-size: $fontsize-small;
            }
        }
    }
}

.ndpl-component__color {
    @include media-breakpoint-to(m) {
        padding: ($unit * 6) 0;
    }
}

.ndpl-component__color:first-of-type {
    margin-bottom: $unit;
}

/* Container hints
----------------------------------- */

#group-typography,
#group-links,
#group-buttons,
#group-margins,
#group-pagination {
    .ndpl-component__container {
        background: $color-white;
        border-radius: $unit;
        position: relative;

        &:before {
            color: $color-grey-dark;
            display: block;
            font-size: 12px;
            position: absolute;
            top: 5px;
            right: 6px;
        }
    }

    div[class*="component__sample"] {
        background: transparent;
        z-index: 1;
    }
}

#group-typography,
#group-links,
#group-margins,
#group-pagination {
    .ndpl-component__container {
        &:before {
            transition: opacity 0.3s ease;
            opacity: 1;
        }

        &:hover {
            &:before {
                opacity: 0;
            }
        }
    }
}

/* Typography enhancements
----------------------------------- */

#group-links {
    .ndpl-component__container {
        &:before {
            content: 'Hover over the Links to see them in action.';
        }
    }
}

#group-typography {
    .ndpl-component__container {
        &:before {
            content: 'Hover over this container to see the Baseline Grid.';
        }
    }

    div[class*="component__sample"] {
        &:before {
            content: '';
            display: block;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        h1, h2, h3, h4, h5, p, small {
            background-color: transparent;
            transition: background-color 0.3s ease 0.15s;
        }
    }

    .ndpl-component__container {
        &:hover {
            div[class*="component__sample"] {
                &:before {
                    background: url("../app/images/baseline-grid-16px.png") repeat 36px 36px;
                    height: 100%;
                    opacity: 1;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    z-index: -1;
                }

                h1, h2, h3, h4, h5, p, small {
                    background-color: rgba($color-grey-light, 0.5);
                }
            }
        }
    }
}

/* Button enhancements
----------------------------------- */

#group-buttons {
    .ndpl-component__container {
        &:before {
            content: 'Hover over or click the Buttons to see hover and focus states.';
        }
    }
}


/* Tables
----------------------------------- */

td,
th {
    text-align: left;
    padding: $unit / 2;
}

td {
    border-top: 1px solid $color-grey-light;
}


/* Magic Margins
----------------------------------- */

#group-margins,
#group-typography,
#group-pagination {
    .ndpl-component__container {
        &:before {
            content: 'Hover over this container to see the margins.';
        }
    }
}

.ndpl-component__container {
    .margin-helper,
    .margin-helper-2,
    .padding-helper {
        opacity: 0;
        transition: opacity 0.3s ease 0.15s;
    }

    hr {
        border: 0;
        border-top: 1px solid $color-grey-light;
        margin: 0;
    }

    &:hover {
        .padding-helper {
            background-image: linear-gradient(135deg, rgba(97, 143, 48, 0.1) 25%, rgba(97, 143, 48, 0.3) 25%, rgba(97, 143, 48, 0.3) 50%, rgba(97, 143, 48, 0.1) 50%, rgba(97, 143, 48, 0.1) 75%, rgba(97, 143, 48, 0.3) 75%, rgba(97, 143, 48, 0.3) 100%);
            background-size: 22.63px 22.63px;
            opacity: 1;
        }

        .margin-helper,
        .margin-helper-2 {
            background-image: linear-gradient(135deg, rgba(255, 165, 0, 0.1) 25%, rgba(255, 165, 0, 0.3) 25%, rgba(255, 165, 0, 0.3) 50%, rgba(255, 165, 0, 0.1) 50%, rgba(255, 165, 0, 0.1) 75%, rgba(255, 165, 0, 0.3) 75%, rgba(255, 165, 0, 0.3) 100%);
            background-size: 22.63px 22.63px;
            opacity: 1;
        }
    }
}

#group-margins,
#group-typography {
    .margin-helper {
        height: $unit * 4;
    }

    .margin-helper-2 {
        height: $unit * 2;
    }
}

#group-margins,
#group-pagination {
    .margin-box {
        height: 160px;
        position: relative;
    }

    .content-helper {
        background: $color-white;
        height: 128px;
        opacity: 1;
        position: absolute;
        left: $unit * 2;
        top: $unit * 2;
        width: calc(100% - #{$unit * 4});
    }

    #group-margins-component-content {
        .content-helper-1 {
            left: $unit * 2;
            top: $unit * 2;
            width: 33%;
        }

        .content-helper-2 {
            margin-left: calc(33% + #{$unit * 4});
            top: $unit * 2;
            left: auto;
            width: calc(66% - 42px);
        }
    }
}

#group-typography {
    .margin-helper {
        margin-top: -($unit * 4);
    }

    .margin-helper-2 {
        margin-top: -($unit * 2);
    }

    .padding-helper {
        height: 100%;
    }
}

#group-margins {
    .padding-helper {
        height: 100%;
    }
}

#group-pagination {
    ul {
        position: relative;
    }

    .padding-helper {
        height: $unit * 4;
        position: absolute;
        width: 100%;
    }

    .padding-helper-1 {
        top: 0;
    }

    .padding-helper-2 {
        bottom: 0;
    }
}

/* other
----------------------------------- */

.content-box-wrapper {
    margin-bottom: $unit * 2
}

.content-box {
    border-radius: 8px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    padding: $unit * 2;

    &.margin-box {
        padding: 0;
    }
}

/* Hide Code Samples
----------------------------------- */

#group-margins,
#group-colors,
#group-shadows {
    .ndpl-component__code,
    .ndpl-component__code-toggle {
        display: none;
    }
}

/* stylelint-enable */
