// base vars
@import "../components/vars";

/* screen width for DSY site
** from 960px (viewport) .ndpl-content width
** because sidebar on the left & padding
*/
$screen-m: 960px + 312px + 48px;

// mediaqueries using base vars
@import "../app/components/breakpoints/breakpoints";
// grid using mediaqueries
@import "../app/components/grid/flexbox-grid";
// typography's settings using base vars
@import "../app/components/typography/typography";

@import "../app/components/colors/colors";
@import "../app/components/links/links";

@import "../app/components/buttons/buttons";
@import "../app/components/icons/icons";
@import "../app/components/pills/pills";
@import "../app/components/pagination/pagination";

@import "../app/components/alerts/note";
@import "../app/components/rating-stars/rating-stars";
@import "../app/components/tabs/tabs";

@import "../components/dsy-utilities";

// custom astrum UI enhancements
@import "astrum-theming";
