<h4>The chosen one</h4>
<ul class="ds-filter ds-list-plain ds-list-cloud">
    <li class="list-item">
        <a href="#" class="ds-pill ds-pill-active">
            <span>Bacon Stripes</span>
            <i class="material-icons">close</i>
        </a>
    </li>
</ul>

<h4>Choose wisely</h4>
<ul class="ds-filter ds-list-plain ds-list-cloud">
    <li class="list-item">
        <a href="#" class="ds-pill">
            <span>Bacon Stripes</span>
        </a>
    </li>
    <li class="list-item">
        <a href="#" class="ds-pill">
            <span>Bacon Stripes</span>
        </a>
    </li>
    <li class="list-item">
        <a href="#" class="ds-pill">
            <span>Bacon Stripes</span>
        </a>
    </li>
</ul>