@import 'settings.button';


@mixin button() {
    background: transparent;
    border: 1px solid;
    border-radius: $button-border-radius;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: $fontsize-button;
    line-height: 1;
    padding: 8px 10px;
    text-decoration: none;
    transition: all 0.3s ease-in;

    // normalize inner whitespace in Firefox
    &::-moz-focus-inner {
        padding: 0;
        border: 0
    }
}

@mixin button--standard() {
    background-color: $color-corporate-green;
    border-color: $color-corporate-green;
    color: white;

    &:active,
    &:focus,
    &:hover {
        background-color: $color-text--corporate-green;
    }
}

@mixin button--light() {
    border-color: $color-corporate-green;
    color: $color-text--corporate-green;
    font-weight: bold;
    transition-duration: 0.1s;

    &:active,
    &:focus,
    &:hover {
        color: white;
        background-color: $color-text--corporate-green;
    }
}

@mixin button--info() {
    background-color: $color-info--blue;
    color: white;

    &:active,
    &:focus,
    &:hover {
        color: white;
        background-color: darken($color-info--blue, 4%);
    }
}

@mixin button--warning() {
    background-color: $color-info--yellow;
    color: white;

    &:active,
    &:focus,
    &:hover {
        color: white;
        background-color: darken($color-info--yellow, 10%);
    }
}

@mixin button--danger() {
    background-color: $color-info--red;
    color: white;

    &:active,
    &:focus,
    &:hover {
        background-color: darken($color-info--red, 1%);
    }
}

@mixin button--text-black() {
    color: $color-text--black;
    border: 0;
}

@mixin button--bigboss() {
    font-size: $fontsize-button--bigboss;
    padding: 18px 20px;
}