@import "tools.button";

.ds-button {
    background: transparent;
    border: 1px solid;
    border-radius: $unit / 2;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: inherit;
    line-height: $lineheight-text-copy;
    margin-bottom: $unit * 2;
    padding: ($unit - 1) ($unit * 1.5); // $unit - 1 b/c 1px border
    text-decoration: none;
    transition: background 0.3s ease-in;

    // normalize inner #fffspace in Firefox
    &::-moz-focus-inner {
        padding: 0;
        border: 0;
    }

    i {
        font-size: 20px;
        margin-right: $unit;
    }

    &--standard {
        background-color: $color-corporate-green;
        border-color: $color-corporate-green;
        color: $color-text-inverted;

        &:active,
        &:focus,
        &:hover {
            background-color: $color-corporate-green-dark;
        }
    }

    &-wide {
        justify-content: center;
        width: 100%;
        max-width: 280px;
    }

    &-deactivated {
        background-color: $color-grey-dark;
        border-color: $color-grey-dark;

        &:active,
        &:focus,
        &:hover {
            background-color: $color-grey-dark;
            border-color: $color-grey-dark;
            cursor: not-allowed;
        }
    }

    // LIGHT button: green text on #fff with green border
    &--light {
        @include button--light;
    }

    // INFO button: #fff text on blue background
    &--info {
        @include button--info;
    }

    // WARNING button: #fff text on yellow background
    &--warning {
        @include button--warning;
    }

    // DANGER (error, fatal warning) button: #fff text on red background
    &--danger {
        @include button--danger;
    }

    // BIGBOSS (super important action) button: big version of any variation, can only be used once per page
    &--bigboss {
        @include button--bigboss;
    }

    /*
    // TEXT-BLACK button: link button with black colored text on transparent background. Without border.
    &--text-black {
        @include button--text-black;
    }
    */
}

// Link resets until style leaks are fixed
a.ds-button {
    text-decoration: none !important;

    &--standard,
    &--info,
    &--danger {
        color: #fff !important;
    }

    &--light {
        color: $color-corporate-green-dark !important;

        &:active,
        &:focus,
        &:hover {
            color: #fff !important;
            background-color: $color-corporate-green-dark !important;
        }
    }
}
