<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4 ds-text-small">
        <h3>Headline h3</h3>
        <p class="ds-text-small">Porkchop Kevin bresaola ribeye chuck flank alcatra andouille,<br>sirloin bacon ground round ball tip tenderloin fatback venison burgdoggen.</p>
        <div class="margin-helper-2"></div>

        <h4>Small Text | .ds-text-right .ds-text-italic</h4>
        <small class="ds-text-right ds-text-italic">Ad Label</small>
        <br>
        <small class="ds-text-right ds-text-italic">Schnell<br>und einfach</small>
    </div>
</div>
