@import "settings.icon";

@mixin icon() {
    pointer-events: none;
}

@mixin icon--button() {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    margin-top: -0.2em;
    vertical-align: middle;
    width: 1em;
}

@mixin icon--text-button() {
    margin-right: 3px; // visual goal of 5px margin needs only 3px via CSS due to general whitespace created by inline-block

    // Apply special class on parent for rare cases where icon is displayed to the right of the text
    .ds-button--icon-right & {
        margin-left: 3px;
        margin-right: 0;
    }
}

@mixin icon--info() {
    fill: $color-info--blue;
}

@mixin icon--warning() {
    fill: $color-info--yellow;
}

@mixin icon--danger() {
    fill: $color-info--red;
}
