<div class="ds-grid">
    <div class="ds-col-xs-4 ds-col-s-2 ds-col-m-2">
        <h4>To xs</h4>
        <div style="background:#FFF; border: 1px solid #DDD; width:100%;">
            <div style="background:#FFF; border-bottom: 1px solid #D8D8D8; width:100%">
                <div style="margin: 0 auto; padding: 4px;">header</div>
            </div>
            <div style="background:#FFF; margin: 0 auto; width:100%">
                <div style="border-bottom: 1px solid #D8D8D8; padding: 4px;">content</div>
                <div style="border-bottom: 1px solid #D8D8D8; padding: 4px;">aside</div>
            </div>
            <div style="background:#FFF; margin: 0 auto; padding: 4px;">footer</div>
        </div>
    </div>

    <div class="ds-col-xs-8 ds-col-s-5 ds-col-m-5">
        <h4>Only s</h4>
        <div style="background:#FFF; border: 1px solid #DDD; width:100%;">
            <div style="background:#FFF; border-bottom: 1px solid #D8D8D8; width:100%">
                <div style="margin: 0 auto; padding: 4px; width:80%">header</div>
            </div>
            <div style="background:#FFF; margin: 0 auto; padding: 4px 4px 0 4px; width:80%">
                <div style="border-bottom: 1px solid #D8D8D8; padding-bottom: 4px; width:100%">content</div>
                <div style="border-bottom: 1px solid #D8D8D8; padding: 4px 0; width:100%">aside</div>
            </div>
            <div style="background:#FFF; margin: 0 auto; padding: 4px; width:80%">footer</div>
        </div>
    </div>

    <div class="ds-col-xs-12 ds-col-s-5 ds-col-m-5">
        <h4>From m</h4>
        <div style="background:#F6F5F2; border: 1px solid #DDD; width:100%;">
            <div style="background:#FFF; border-bottom: 1px solid #D8D8D8; width:100%">
                <div style="margin: 0 auto; padding: 4px; width:70%">header</div>
            </div>
            <div style="background:#FFF; display: flex; margin: 0 auto; padding: 4px; width:70%">
                <div style="width:70%">content</div>
                <div style="4px; width:30%">aside</div>
            </div>
            <div style="background:#FFF; border-top: 1px solid #D8D8D8; margin: 0 auto; padding: 4px; width:70%">footer
            </div>
        </div>
    </div>
</div>