<div class="ds-grid">
    <div class="ds-col-xs-12 ds-col-m-6">
        <h4>Page layout to s</h4>
        <div style="background:#FFF; border: 1px solid #DDD; width:100%;">
            <div style="background:#FFF; border-bottom: 1px solid #D8D8D8; width:100%">
                <div style="margin: 0 auto; width:80%">header</div>
            </div>
            <div style="background:#FFF; margin: 0 auto; width:80%">
                <div style="border-bottom: 1px solid #D8D8D8; width:100%">content</div>
                <div style="border-bottom: 1px solid #D8D8D8; width:100%">aside</div>
            </div>
            <div style="background:#FFF; margin: 0 auto; width:80%">footer</div>
        </div>
    </div>

    <div class="ds-col-xs-12 ds-col-m-6">
        <h4>Page layout from m</h4>
        <div style="background:#F6F5F2; border: 1px solid #DDD; width:100%;">
            <div style="background:#FFF; border-bottom: 1px solid #D8D8D8; width:100%">
                <div style="margin: 0 auto; width:70%">header</div>
            </div>
            <div style="background:#FFF; display: flex; margin: 0 auto; width:70%">
                <div style="width:70%">content</div>
                <div style="width:30%">aside</div>
            </div>
            <div style="background:#FFF; border-top: 1px solid #D8D8D8; margin: 0 auto; width:70%">footer</div>
        </div>
    </div>
</div>