<div class="ds-grid">

    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <h4>Button | .ds-button--standard .ds-button--wide</h4>
    </div>

    <div class="ds-col-xs-12 ds-col-s-6 ds-col-m-6">
        <button class="ds-button ds-button--standard ds-button-wide" href="#">
            Buttontext
        </button>
    </div>

    <div class="ds-col-xs-12 ds-col-s-6 ds-col-m-6">
        <button class="ds-button ds-button--standard ds-button-wide ds-button--bigboss" href="#">
            Buttontext
        </button>
    </div>
</div>
