<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <h4>Rating Stars mit Ausgabe der Anzahl der Bewertungen</h4>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <span>(1.337)</span>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <span>(1.337)</span>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <span>(1.337)</span>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <span>(1.337)</span>
            </div>
        </div>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <span>(1.337)</span>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <span>(1.337)</span>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <span>(1.337)</span>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <span>(1.337)</span>
            </div>
        </div>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <span>(1.337)</span>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <span>(1.337)</span>
            </div>
        </div>

        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <span>(1.337)</span>
            </div>
        </div>
    </div>
</div>

<br/>

<aside class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <h4>Rating Stars in aside und mobile Ansicht</h4>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <div class="ds-rating">
            <div class="ds-rating-stars">
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star_half</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <span>(1.337)</span>
            </div>
        </div>
    </div>
</aside>

<br/>

<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-12">
        <h4>Rating Stars ohne abgegebene Bewertungen</h4>
    </div>

    <div class="ds-col-xs-12 ds-col-s-4 ds-col-m-4">
        <div class="ds-rating">
            <div class="ds-rating-stars ds-no-rating">
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
                <i class="material-icons">star_border</i>
            </div>
            <div class="ds-rating-count">
                <span class="ds-sr-only">Abgegebene Bewertungen:</span>
                <span>(0)</span>
            </div>
        </div>
    </div>
</div>
