<div class="ds-grid ds-row">
    <div class="content-box-wrapper ds-col-xs-12 ds-col-s-6 ds-col-m-6">
        <div class="content-box">
            <h4>.ds-text-center</h4>
            <p class="ds-text-center">Bacon Stripes</p>
        </div>
    </div>

    <div class="content-box-wrapper ds-col-xs-12 ds-col-s-6 ds-col-m-6">
        <div class="content-box">
            <h4>.ds-text-right</h4>
            <p class="ds-text-right">Bacon Stripes</p>
        </div>
    </div>

    <div class="content-box-wrapper ds-col-xs-12 ds-col-s-6 ds-col-m-6">
        <div class="content-box">
            <h4>.ds-text-bold | &lt;strong&gt;</h4>
            <p class="ds-text-bold">Bacon Stripes</p>
            <strong>Bacon Stripes</strong>
        </div>
    </div>

    <div class="content-box-wrapper ds-col-xs-12 ds-col-s-6 ds-col-m-6">
        <div class="content-box">
            <h4>.ds-text-italic | &lt;em&gt;</h4>
            <p class="ds-text-italic">Bacon Stripes</p>
            <em>Bacon Stripes</em>
        </div>
    </div>

    <div class="content-box-wrapper ds-col-xs-12 ds-col-s-6 ds-col-m-6">
        <div class="content-box">
            <h4>.ds-text-small | &lt;small&gt;</h4>
            <span class="ds-text-small">Bacon Stripes</span>
            <small>Bacon Stripes</small>
        </div>
    </div>
</div>
