<h4>Mixins für MediaQueries</h4>
<br/>
<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-6">
        <h4>from</h4>
        <p>Breakpoints kleiner als <em>value</em> werden nicht berücksichtigt</p>
        <code>@include media-breakpoint-from(<em>value</em>) { ... }</code>
        <p>value: m = xxxs, xxs, xs, s, <strong>m</strong>, <strong>l</strong>, <strong>xl</strong></p>
    </div>
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-6">
        <h4>to</h4>
        <p>Breakpoints vom kleinsten bis einschließlich <em>value</em> werden angesprochen</p>
        <code>@include media-breakpoint-to(<em>value</em>) { ... }</code>
        <p>value: m = <strong>xxxs</strong>, <strong>xxs</strong>, <strong>xs</strong>, <strong>s</strong>, <strong>m
        </strong>, l, xl</p>
    </div>
</div>
<br/>
<div class="ds-grid ds-row">
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-6">
        <h4>between</h4>
        <p>Breakpoints von <em>value from</em> bis einschließlich <em>value to</em> werden angesprochen</p>
        <code>@include media-breakpoint-between(<em>value from</em>, <em>value to</em>) { ... }</code>
        <p>values: s, l = xxxs, xxs, xs,  <strong>s</strong>, <strong>m</strong>, <strong>l</strong>, xl</p>
    </div>
    <div class="ds-col-xs-12 ds-col-s-12 ds-col-m-6">
        <h4>only</h4>
        <p>Ausschließlich der Breakpoint von <em>value</em> wird angesprochen</p>
        <code>@include media-breakpoint-only(<em>value</em>) { ... }</code>
        <p>value: m = xxxs, xxs, xs, s, <strong>m</strong>, l, xl</p>
    </div>
</div>
<br/>
<h4>Aktive breakpoint values für Mixins</h4>

<div class="ds-grid ds-row">
    <div class="ds-col-xs-4 ds-col-s-2 ds-col-m-2">
        xxxs: 320px
    </div>
    <div class="ds-col-xs-4 ds-col-s-2 ds-col-m-2">
        xxs: 360px
    </div>
    <div class="ds-col-xs-4 ds-col-s-2 ds-col-m-2">
        (xs: 400px)
    </div>
    <div class="ds-col-xs-4 ds-col-s-2 ds-col-m-2">
        s: 600px
    </div>
    <div class="ds-col-xs-4 ds-col-s-2 ds-col-m-2">
        m: 960px
    </div>
</div>
