/**
 * Documentation and state of colors:
 * https://wiki.chefkoch.de/display/LS/Colors
 * changing colors is only allowed if UX and design gave their GO!
 **/
@import "settings/colors/general";

$color-corporate-green: $color-crete;

$color-background--sand: $color-pampas;

$color-text--corporate-green: $color-fernfrond;
$color-text--black: $color-masala;
$color-text--grey: $color-silverchalice;

$color-icon--grey: $color-silver;

$color-action--purple: $color-mulberry;

$color-info--blue: $color-bluelagoon;
$color-info--yellow: $color-saffron;
$color-info--red: $color-bittersweet;
