/**
 * '''global colors'''
 * color names are defined with: http://chir.ag/projects/name-that-color
 * changing colors is only allowed if UX and design gave their GO!
 **/

/* new colors from 09/23/2016 */
$color-pampas: #f6f5f2; // light gray (slight orange hue) -- background. looks like grey but it's not only grey
$color-silver: #bbb9b9; //
$color-alto: #d8d8d8;
$color-silverchalice: darken(#fff, 38%); //#9D9D9D  // grey text
$color-masala: #403b3b; // new copy color - will replace $color-mineshaft
$color-crete: #618f30; // primary green (used in logo/chef's hat)
$color-fernfrond: #537a29;
$color-mulberry: #bf538d; // Color of action in user profile
$color-bluelagoon: #007c8c; // replaces $color-mariner
$color-saffron: #f2c829;
$color-bittersweet: #ff665e; // replaces $color-persimmon
