@import "../colors/colors";

/**
    The "Note" Pattern
    Used for giving feedback after user interactions.
 */

// Prototype for info/success/danger messages pattern, currently called "note"
// TODO: https://jira.chefkoch.de/browse/SG-14
.ds-note {
    background: $color-sand;
    border-left: 3px solid;
    margin-bottom: 10px;
    padding: 10px 30px 10px 10px; // 30px right: add buffer space toward close button
    position: relative;

    @media (min-width: 600px) {
        border-left-width: 5px;
    }

    /* ==========================================
        Block Modifier
     *============================================= */

    &--info {
        border-color: $color-blue;
    }

    &--success {
        border-color: $color-corporate-green;
    }

    &--warning {
        border-color: $color-yellow;
    }

    &--danger {
        border-color: $color-red;
    }

    // (Hopefully temporary) edge case: note in sidebar has "right-handed border"
    // Implemented as modifier instead of nested child (.sidebar &) due to specificity issues with &--sucess etc.
    &--sidebar {
        @media (min-width: 600px) {
            border-left: 0;
            border-right: 5px solid;
            margin-left: 0 !important;
        }
    }

    /* ==========================================
        Block Elements
     *============================================= */

    &__headline {
        font-weight: bold;
        text-transform: uppercase;
    }

    &__content {
        align-items: center;
        display: flex;
        font-size: 13px;
        line-height: 1.5;
    }

    &__icon {
        flex-basis: 3em;
        margin-right: 10px;
        height: 3em;
        min-width: 3em;
    }

    &__cta {
        float: right;
    }

    &__close-button {
        background: transparent;
        border: 0;
        cursor: pointer;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 0;

        // Modifier for .ds-note__close-button
        // Secondary actions are not a pattern yet ("close" button in reply-to-comment overlay is black text on grey)
        &--muted {
            background-color: lighten($color-grey-medium, 15%);
            border-color: lighten($color-grey-medium, 15%);
            color: $color-black;

            &:active,
            &:focus,
            &:hover {
                background-color: lighten($color-grey-medium, 10%);
                border-color: lighten($color-grey-medium, 10%);
            }
        }
    }
}
